@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/* Color scheme */
/* Semantic gs */
/* Responsive breakpoints */
/* Font */
.titleFont {
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 100;
}
#grid {
  display: none;
  pointer-events: none;
}
.grid:not(.no-helper) #grid {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100%;
}
.grid:not(.no-helper) #grid div {
  display: inline;
  float: left;
  width: 4.34782609%;
  margin: 0 0.60386473%;
  height: 100%;
}
.grid:not(.no-helper) #grid div:nth-child(even) {
  background-color: rgba(75, 0, 0, 0.25);
}
.grid:not(.no-helper) #grid div:nth-child(odd) {
  background-color: rgba(75, 0, 0, 0.1);
}
.no-helper .helper {
  display: none;
}
#toggleGridButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  margin: 0;
  padding: 0;
  opacity: 0.2;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
#toggleGridButton:hover {
  opacity: 0.6;
}
/* Layout
************************/
html {
  width: 100%;
  font-size: 7px;
  font-family: 'Dosis', 'sans-serif';
}
@media (min-width: 620px) {
  html {
    font-size: 10px;
  }
}
body {
  width: 100%;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #c8c8c8;
}
html,
input,
textarea,
select,
button {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
a {
  color: #cf5c36;
  font-weight: bold;
}
.BodyLayout {
  display: inline;
  float: left;
  width: 98.79227053%;
  margin: 0 0.60386473%;
  position: relative;
  background-color: #9db5b2;
}
.SiteHeader {
  display: block;
  width: 101.20772947%;
  margin: 0 -0.60386473%;
  *zoom: 1;
  position: absolute;
  top: 0;
  margin-top: 4rem;
  height: 8rem;
}
.SiteHeader:before,
.SiteHeader:after {
  content: "";
  display: table;
}
.SiteHeader:after {
  clear: both;
}
.SiteHeader-logo {
  display: inline;
  float: left;
  width: 26.57004831%;
  margin: 0 0.60386473%;
  margin-left: 6.15942029%;
  margin-right: 6.15942029%;
  height: 100%;
  overflow: hidden;
  background-image: url('img/logo-x-small.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.SiteHeader-logo a {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-indent: -9999px;
}
@media (min-width: 640px) {
  .SiteHeader-logo {
    background-image: url('img/logo-small.png');
  }
}
@media (min-width: 960px) {
  .SiteHeader-logo {
    background-image: url('img/logo-default.png');
  }
}
.SiteHeader-navigation {
  display: inline;
  float: left;
  width: 54.34782609%;
  margin: 0 0.60386473%;
  margin-left: 6.15942029%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
@media (min-width: 620px) {
  .SiteHeader-navigation {
    display: inline;
    float: left;
    width: 54.34782609%;
    margin: 0 0.60386473%;
  }
}
@media (min-width: 680px) {
  .SiteHeader-navigation {
    display: inline;
    float: left;
    width: 32.12560386%;
    margin: 0 0.60386473%;
  }
}
.SiteFooter {
  height: 18rem;
  width: 100%;
  padding-top: 2rem;
  background-color: rgba(200, 210, 255, 0.5);
}
.Navigation-item {
  display: inline;
  float: left;
  width: 13.04347826%;
  margin: 0 1.8115942%;
}
.SiteMainContent-block {
  width: 100%;
  background-color: #ffffff;
}
.SiteMainContent-publicationList {
  background-color: #ffffff;
}
.SiteMainContent-header {
  display: inline;
  float: left;
  width: 98.79227053%;
  margin: 0 0.60386473%;
  margin-left: 0.60386473%;
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  color: #cf5c36;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 100;
  font-size: 4.5rem;
  background-color: #0a2e36;
}
@media (min-width: 400px) {
  .SiteMainContent-header {
    display: inline;
    float: left;
    width: 87.68115942%;
    margin: 0 0.60386473%;
    margin-left: 6.15942029%;
  }
}
@media (min-width: 680px) {
  .SiteMainContent-header {
    display: inline;
    float: left;
    width: 65.4589372%;
    margin: 0 0.60386473%;
    margin-left: 6.15942029%;
    display: none;
  }
}
.Sidebar {
  width: 100%;
  height: auto;
  font-size: 1.6rem;
}
@media (max-width: 680px) {
  .Sidebar {
    display: block;
    width: 101.20772947%;
    margin: 0 -0.60386473%;
    *zoom: 1;
  }
  .Sidebar:before,
  .Sidebar:after {
    content: "";
    display: table;
  }
  .Sidebar:after {
    clear: both;
  }
}
@media (min-width: 680px) {
  .Sidebar {
    display: inline;
    float: left;
    width: 26.57004831%;
    margin: 0 0.60386473%;
    margin-left: 0.60386473%;
    position: absolute;
    top: 14rem;
    right: 0;
  }
}
.Sidebar-block {
  margin-top: 2rem;
  box-sizing: border-box;
  background-color: #d0d3c7;
}
@media (min-width: 680px) {
  .Sidebar-block {
    width: 100%;
    max-width: 24rem;
    margin: auto;
    padding: 2rem;
  }
}
.Sidebar-header h1,
.Sidebar-header h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  display: inline;
}
.Sidebar-header h2 {
  color: #cf5c36;
  text-transform: lowercase;
}
.PublicationList {
  padding-top: 6rem;
}
.LaUne {
  display: block;
  width: 101.20772947%;
  margin: 0 -0.60386473%;
  *zoom: 1;
  height: auto;
  padding-top: 14rem;
}
.LaUne:before,
.LaUne:after {
  content: "";
  display: table;
}
.LaUne:after {
  clear: both;
}
@media (max-width: 680px) {
  .LaUne {
    background-color: #9db5b2;
  }
}
@media (min-width: 680px) {
  .LaUne {
    background-image: url('img/mont-blanc-mq.jpg');
    background-size: cover;
  }
}
@media (min-width: 960px) {
  .LaUne {
    background-image: url('img/mont-blanc-hq.jpg');
    background-size: cover;
  }
}
.LaUne-content {
  display: inline;
  float: left;
  width: 98.79227053%;
  margin: 0 0.60386473%;
  margin-left: 0.60386473%;
  height: auto;
  background-color: transparent;
}
@media (min-width: 620px) {
  .LaUne-content {
    display: inline;
    float: left;
    width: 87.68115942%;
    margin: 0 0.60386473%;
    margin-left: 6.15942029%;
  }
}
@media (min-width: 680px) {
  .LaUne-content {
    display: inline;
    float: left;
    width: 65.4589372%;
    margin: 0 0.60386473%;
    margin-left: 6.15942029%;
  }
}
.LaUne,
.PublicationList {
  display: block;
  width: 101.20772947%;
  margin: 0 -0.60386473%;
  *zoom: 1;
  height: auto;
}
.LaUne:before,
.PublicationList:before,
.LaUne:after,
.PublicationList:after {
  content: "";
  display: table;
}
.LaUne:after,
.PublicationList:after {
  clear: both;
}
.LaUne-content,
.PublicationList-content {
  display: inline;
  float: left;
  width: 98.79227053%;
  margin: 0 0.60386473%;
  margin-left: 0.60386473%;
  height: auto;
  background-color: transparent;
}
@media (min-width: 620px) {
  .LaUne-content,
  .PublicationList-content {
    display: inline;
    float: left;
    width: 87.68115942%;
    margin: 0 0.60386473%;
    margin-left: 6.15942029%;
  }
}
@media (min-width: 680px) {
  .LaUne-content,
  .PublicationList-content {
    display: inline;
    float: left;
    width: 65.4589372%;
    margin: 0 0.60386473%;
    margin-left: 6.15942029%;
  }
}
.BlogArticle {
  display: block;
  width: 101.55279503%;
  margin: 0 -0.77639752%;
  *zoom: 1;
  height: 30rem;
  height: auto;
  padding-bottom: 2rem;
}
.BlogArticle:before,
.BlogArticle:after {
  content: "";
  display: table;
}
.BlogArticle:after {
  clear: both;
}
@media (min-width: 620px) {
  .BlogArticle {
    display: block;
    width: 101.8115942%;
    margin: 0 -0.9057971%;
    *zoom: 1;
    margin-top: 0;
  }
  .BlogArticle:before,
  .BlogArticle:after {
    content: "";
    display: table;
  }
  .BlogArticle:after {
    clear: both;
  }
}
.BlogArticle-header {
  display: inline;
  float: left;
  width: 98.79227053%;
  margin: 0 0.60386473%;
  margin-left: 0.60386473%;
  box-sizing: border-box;
  padding: 2rem;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 100;
  font-size: 1.6rem;
  background-color: #d0d3c7;
}
@media (min-width: 400px) {
  .BlogArticle-header {
    display: inline;
    float: left;
    width: 87.68115942%;
    margin: 0 0.60386473%;
    margin-left: 6.15942029%;
  }
}
@media (min-width: 620px) {
  .BlogArticle-header {
    display: inline;
    float: left;
    width: 98.1884058%;
    margin: 0 0.9057971%;
    margin-left: 0.9057971%;
  }
}
@media (min-width: 960px) {
  .BlogArticle-header {
    margin-bottom: 2rem;
  }
}
.BlogArticle-header h1 {
  font-size: 2.4rem;
  line-height: 1.2em;
  margin-bottom: 0.4em;
  font-weight: 100;
}
.BlogArticle-media {
  display: inline;
  float: left;
  width: 98.79227053%;
  margin: 0 0.60386473%;
  margin-left: 0.60386473%;
  position: relative;
  height: auto;
  overflow: hidden;
}
@media (min-width: 400px) {
  .BlogArticle-media {
    display: inline;
    float: left;
    width: 87.68115942%;
    margin: 0 0.60386473%;
    margin-left: 6.15942029%;
  }
}
@media (min-width: 620px) {
  .BlogArticle-media {
    display: inline;
    float: left;
    width: 98.1884058%;
    margin: 0 0.9057971%;
    margin-left: 0.9057971%;
  }
}
@media (min-width: 960px) {
  .BlogArticle-media {
    display: inline;
    float: left;
    width: 39.85507246%;
    margin: 0 0.9057971%;
    margin-left: 0.9057971%;
  }
}
@media (min-width: 620px) {
  .BlogArticle-media {
    height: 25rem;
  }
}
@media (min-width: 680px) {
  .BlogArticle-media {
    height: 25rem;
  }
}
@media (min-width: 960px) {
  .BlogArticle-media {
    height: auto;
  }
}
.BlogArticle-media:hover .BlogArticle-media-description {
  opacity: 1;
}
.BlogArticle-content {
  display: inline;
  float: left;
  width: 98.79227053%;
  margin: 0 0.60386473%;
  margin-left: 0.60386473%;
  height: 100%;
  min-height: 30rem;
  box-sizing: border-box;
  padding: 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  background-color: #d0d3c7;
}
@media (min-width: 400px) {
  .BlogArticle-content {
    display: inline;
    float: left;
    width: 87.68115942%;
    margin: 0 0.60386473%;
    margin-left: 6.15942029%;
  }
}
@media (min-width: 620px) {
  .BlogArticle-content {
    display: inline;
    float: left;
    width: 98.1884058%;
    margin: 0 0.9057971%;
    margin-left: 0.9057971%;
  }
}
@media (min-width: 960px) {
  .BlogArticle-content {
    display: inline;
    float: left;
    width: 56.52173913%;
    margin: 0 0.9057971%;
    margin-left: 0.60386473%;
  }
}
.BlogArticle-content:first-letter {
  float: left;
  color: #cf5c36;
  font-size: 4rem;
  line-height: 2.4rem;
  padding-top: 1rem;
  padding-right: 0.5rem;
  font-family: Georgia;
}
.BlogArticle-content p {
  margin-bottom: 1rem;
}
.BlogArticle-content a {
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
}
.BlogArticle-content a:hover::before,
.BlogArticle-content a:focus::before {
  background-position: 0.5rem 50%;
  color: #404d5b;
  opacity: 1;
  -webkit-transition-delay: 0s, 0s, 0s, 0.1s;
  transition-delay: 0s, 0s, 0s, 0.1s;
  -webkit-transform: scale(1) translateY(-2rem);
  transform: scale(1) translateY(-2rem);
}
.BlogArticle-content a::before {
  position: absolute;
  top: -50%;
  left: -2rem;
  padding: 0.5rem 2rem 0.5rem 3.2rem;
  width: auto;
  height: 2rem;
  background: #ffffff url(img/link.svg) no-repeat;
  background-size: 2rem;
  background-position: -4rem 50%;
  border-radius: 0.4rem;
  content: attr(href);
  white-space: nowrap;
  word-break: break-all;
  font-weight: 600;
  font-size: 1.6rem;
  color: transparent;
  line-height: 1.2;
  opacity: 0;
  -webkit-transition: opacity 0.3s, color 0.3s, -webkit-transform 0.3s, background-position 0.2s;
  transition: opacity 0.3s, color 0.3s, transform 0.3s, background-position 0.2s;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  pointer-events: auto;
}
.BlogArticle__1of1,
.BlogArticle__oneOfMany {
  display: block;
  width: 101.20772947%;
  margin: 0 -0.60386473%;
  *zoom: 1;
}
.BlogArticle__1of1:before,
.BlogArticle__oneOfMany:before,
.BlogArticle__1of1:after,
.BlogArticle__oneOfMany:after {
  content: "";
  display: table;
}
.BlogArticle__1of1:after,
.BlogArticle__oneOfMany:after {
  clear: both;
}
.BlogArticle__1of1 .BlogArticle-media-renderer,
.BlogArticle__oneOfMany .BlogArticle-media-renderer {
  display: block;
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 620px) {
  .BlogArticle__1of1 .BlogArticle-media-renderer,
  .BlogArticle__oneOfMany .BlogArticle-media-renderer {
    height: 25rem;
  }
}
@media (min-width: 680px) {
  .BlogArticle__1of1 .BlogArticle-media-renderer,
  .BlogArticle__oneOfMany .BlogArticle-media-renderer {
    height: 25rem;
  }
}
@media (min-width: 960px) {
  .BlogArticle__1of1 .BlogArticle-media-renderer,
  .BlogArticle__oneOfMany .BlogArticle-media-renderer {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 30rem;
    object-fit: cover;
  }
}
.BlogArticle__1of1 .BlogArticle-media-description,
.BlogArticle__oneOfMany .BlogArticle-media-description {
  font-size: 1.6rem;
  position: absolute;
  bottom: 0%;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #9db5b2;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.BlogArticle__oneOfMany {
  margin-bottom: 6rem;
}
.WidgetNumbers-title {
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 100;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.WidgetNumbers-item {
  list-style: none;
  margin-bottom: 0.5rem;
}
.WidgetNumbers-label {
  padding: 0.5rem 1rem;
  text-align: right;
  color: #ffffff;
  background-color: #cf5c36;
}
.WidgetNumbers-value {
  padding: 0.4rem 1rem;
  color: #0a2e36;
  border: 0.1rem solid #cf5c36;
  border-left: 0;
  background-color: #ffffff;
}
.WidgetNumbers-label,
.WidgetNumbers-value {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}
@media (min-width: 680px) {
  .WidgetNumbers-label,
  .WidgetNumbers-value {
    max-width: 10rem;
  }
}
