/* Layout
************************/
html {
	width: 100%;

	font-size: 7px;
	@media (min-width: @smaller) {
		font-size: 10px;
	}

	font-family: 'Dosis', 'sans-serif';
}

body {
	width: 100%;
	margin: auto;

	overflow-y: auto;
	overflow-x: hidden;

	background-color: rgb(200, 200, 200);
}

html, input, textarea, select, button {
  -webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a {
	color: @color2;
	font-weight: bold;
}
