.Sidebar {

	width: 100%;

	@media (max-width: @medium) {
		.row(@columns);
	}

	@media (min-width: @medium) {
		.column(5,@columns);
		.push(0,@columns);

		position: absolute;
		top: 14rem;
		right: 0;
	}

	height: auto;

	font-size: 1.6rem;

	&-block {

		@media (min-width: @medium) {
			width: 100%;
			max-width: 24rem;
			margin: auto;

			padding: 2rem;
		}

		margin-top: 2rem;
		box-sizing: border-box;
		background-color: @backgroundColor;
	}

	&-content {

		@media (min-width: @medium) {
		}
	}

	&-header {

		h1, h2 {
			.titleFont;
			font-size: 2.5rem;
			display: inline;
		}

		h2 {
			color: rgb(207, 92, 54);
			text-transform: lowercase;
		}
	}
}

