/* Color scheme */
@color1: #0A2E36;
@color2: #CF5C36;
@color3: #D0D3C7;
@color4: #9DB5B2;
@color5: #A4031F;
@color6: #fff;

@fontColor: @color1;
@backgroundColor: @color3;

/* Semantic gs */
@column-width: 72;
@gutter-width: 20;
@columns: 18;
@total-width: 100%;

/* Responsive breakpoints */
@smallest: 400px;
@smaller: 620px;
@medium: 680px;
@larger: 960px;
@largest: 1180px;

/* Font */
@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

.titleFont {
	font-family: 'Pathway Gothic One', sans-serif;
	font-weight: 100;
}
