@fontColor: #171302;
@backgroundColor: #fff;

/* Semantic gs */
@column-width: 72;
@gutter-width: 20;
@columns: 14;
@total-width: 100%;

/* Font */
@import url(http://fonts.googleapis.com/css?family=Muli:300,400,400italic,300italic);
