.WidgetNumbers {

	&-title {

		.titleFont;

	}

	&-item {
		list-style: none;
		margin-bottom: 0.5rem;
	}

	&-label {
		padding: 0.5rem 1rem;

		text-align: right;
		color: @color6;
		background-color: @color2;
	}

	&-value {
		padding: 0.4rem 1rem;

		color: @color1;
		border: 0.1rem solid @color2;
		border-left: 0;

		background-color: @color6;
	}

	&-label,
	&-value {
		display: inline-block;

			width: 50%;
		@media (min-width: @medium) {
			max-width: 10rem;
		}

		box-sizing: border-box;
	}
}

